.Game {
  text-align: left;
  width: 502px;
  display: inline-block;
}

.Game-input-group {
  margin-bottom: 8px;
}

.Game-input-group select {
  margin-right: 5px;
  margin-left: 5px;
  width: auto;
}

.Game-input-group input[type="radio"] {
  margin-left: 10px;
}

.Game-button-group {
  float: right;
}

.Game-grid-header {
  margin-bottom: 10px;
}

.Game-settings {
  border: 1px solid #aaa;
  padding: 8px 8px 0 8px;
  margin: 0 0 8px 0;
  font-size: 14px;
}

.Game-settings fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
